@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.form {
	@apply flex flex-col gap-4;
}

h2 {
	@apply text-2xl font-bold;
}

.team-positions {
	display: grid;
	grid-template:
		"4 3 2"
		"5 6 1";
}

@layer base {
	:root {
		--primary: 184 50% 32%;
		--secondary: 11 69% 44%;
		--accent: 29 100% 50%;
		--accent-content: 0 0% 100%;
		--muted: 0 0% 70%;

		--background: 0 0% 13%;
		--background-dark: 0 0% 10%;
		--background-light: 0 0% 15%;

		--error: 11 69% 44%;
		--warning: 38 92% 50%;
		--success: 142 71% 45%;
		--info: 199 89% 48%;

		--radius: 0.5rem;
	}

	body {
		color: hsl(0 0% 95%);
	}
	.dark {
		--primary: 220 90% 56%;
		--secondary: 240 4% 46%;
		--accent: 280 80% 60%;
		--muted: 220 9% 46%;

		--background: 220 13% 0%;
		--background-dark: 220 13% 0%;
		--background-light: 220 13% 0%;

		--error: 0 84% 60%;
		--warning: 38 92% 50%;
		--success: 142 71% 45%;
		--info: 199 89% 48%;
	}
}
